body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(134, 234, 201);
    color: black;
    font-size: medium;
}
footer{
    color: #640b40;
}
.brown{
    color: #940f5f;
}
#maintitle{
    color: #e91c26;
}
.pink{
    color: rgb(100, 70, 160);
}
.blue{
    color: rgb(12, 106, 106);
}

h2{
    color: red
}
       
